# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.depend
test_filename.bin
*_test
*.zip
src/aff4imager

doxygen/

# autoconf related files.
Makefile
config.log
.deps
.libs
autom4te.cache
config.h
stamp-h1